{% extends "base.html" %}

{% load i18n %}

{% block main %}

<!-- Re-created the style of the main site in this Allauth template -->

<section class="formholder mb-4">
    <h2 class="text-center mb-3">Login</h2>
    <p class="text-center p-3">Please enter your username and password to log in. You can also sign up for the site <a id="register-link" href="{% url 'account_signup' %}">here</a>.</p>
    <form class="userform" class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="formaction">
            <button class="primaryAction mb-4 p-2 px-4" type="submit">{% trans "Log In" %}</button>
        </div>
      </form>
</section>

{% endblock main %}
