{% extends "base.html" %}

{% load i18n %}

{% block main %}

<!-- Re-created the style of the main site in this Allauth template -->

<div class="formholder">
    <h1 class="text-center mb-3">Login</h1>
    <p class="text-center">Are you sure you want to sign out?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="d-flex justify-content-center pb-4">
            <button type="submit">{% trans 'Sign Out' %}</button>
        </div>
    </form>
</div>


{% endblock main %}
