{% extends "base.html" %}

{% load i18n %}

{% block main %}

    <div>
        <h1 class="blackbox">Match Master</h1>
    </div>
    <section id="password-change-section" class="blackbox p-5 d-flex justify-content-center align-items-center mb-4">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </section>
{% endblock main %}
