{% extends "base.html" %}

{% load i18n %}

{% block main %}

<div class="formholder">
    <h1 class="text-center mb-4">Register</h1>
    <p class="text-center mb-4">Please enter your details to register. An email address is not required, but would be needed for password recovery at a later date.</p>
    <form class="userform signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="formaction">
            <button type="submit" class="mt-2 mb-4 p-1 px-4">{% trans "Register" %}</button>
        </div>
    </form>
</div>
{% endblock main %}
