{% extends "base.html" %}

{% load static %}

{% block main %}

<div>
    <h1 class="blackbox">Match Master</h1>
</div>

<div class="blackbox pb-4">
    <h2 class="text-center mb-3 pt-4">Instructions</h2>
    <div class="accordion mt-5 m-4" id="accordionDisplay">
        {% for list_item in information_list %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    {{ list_item.title }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionDisplay">
                <div class="accordion-body">
                    <p>{{ list_item.content }}</p>
                    <div class="d-flex align-items-center mt-5">
                        {% if user.is_superuser %} <p class="small-button fs-6 me-auto">Edit</p> {% endif %}
                        <p class="fst-italic fs-6 {% if user.is_superuser %}mx-3 {% else %} mx-auto {% endif %}">Updated on: {{ list_item.updated_on }}</p>
                        {% if user.is_superuser %} <p class="small-button fs-6 ms-auto">Delete</p> {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}