{% extends "base.html" %}

{% load static %}

{% block main %}

<div class="modal" id="delete-game-history" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Game History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to delete your game history?</p>
            </div>
            <div class="modal-footer">
                <form class="mx-auto" action="{% url 'delete_game_history' %}" method="POST">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn small-button">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="blackbox">User Profile for {{ request.user }}</h2>
    <div class="row mt-4">
        <p class="col-6 redbutton"><a href="{% url 'memorygame' %}">New Game</a></p>
        <a class="col-6 d-block" href="#" data-bs-toggle="modal" data-bs-target="#delete-game-history"><p class="redbutton">Reset Game</p></a>
    </div>
    <div class="row">
        <div class="pt-3 pb-2 col-12 blackbox">
            <h3>Difficulty - 18 Boxes:</h3>
            <p>Games completed: {{ results_games }}</p>
            <p>Average rounds required to win: {{ results_average }}</p>
            <p>Least rounds required to win: {{ results_least }}</p>
            <p>Most rounds required to win: {{ results_most }}</p>
        </div>
        <div class="formholder container pb-4">
            <form class="userform" method="POST" action="/playerprofile/">
                {% csrf_token %}
                {{ username_change_form.as_p }}
                <div class="row pt-3">
                    <input type="submit" value="Update Username">
                </div>
            </form>
        </div>
        <div class="formholder container pb-4">
            <form class="userform" method="POST" action="">
                {% csrf_token %}
                {{ email_change_form.as_p }}
                <div class="row pt-3">
                    <input type="submit" value="Update Email Address">
                </div>
            </form>
        </div>
        <div class="d-flex flex-row justify-content-center align-content-center mt-4 mb-4">
            <a href="{% url 'account_change_password' %}"><p class="redbutton">Change Password</p></a>
        </div>
    </div>
</div>   

{% endblock %}