{% extends "base.html" %}

{% load static %}

{% block main %}

<section id="gamepage">
    <div id="gamepanel-id" class="gamepanel-class">
        <div id="gameboard" class="h-100 d-flex flex-wrap justify-content-center align-content-center">
            <!--JavaScript game board-->
        </div>
        <div id="scoreboard">
            <p id="rounds" class="text-center">Rounds played: 0</p>
            <p id="restart-game-button" class="redbutton">Restart Game</p>
            <p id="matches" class="text-center">Pair matches left: 9</p>
        </div>
    </div>
    <div id="scorepanel-id" class="scorepanel-class hide blackbox">
        <h1 class="text-center">Congratulations, you have won!</h1>
        <p class="text-center">You took <span id="round-number">0</span> rounds to complete this game</p>
        <p id="end-game-button" class="redbutton mt-1">End Game</p>
    </div>
</section>

{% endblock %}

{% block gamescript %}

<script src="{% static 'js/game.js' %}"></script>

{% endblock %}