
/* All pages */

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* General styling */

.blackbox {
    color: lightgrey;
    text-align: center;
    border-radius: 20px;
    background-color: #000000BB;
    margin: 30px auto 0 auto;
}

h1.blackbox {
    font-size: 300%;
    padding: 60px;
    max-width: 600px;
}

h2.blackbox {
    font-size: 200%;
    padding: 30px;
    max-width: 400px;
}

.redbutton {
    margin: 60px auto 0 auto;
    max-width: 150px;
    color: lightgrey;
    background-color: red;
    padding: 10px 20px 10px 20px;
    text-align: center;
    cursor: pointer;
}

.formholder {
    background-color: #000000BB;
    color: lightgrey;
    max-width: 600px;
    margin: 50px auto 0px;
    padding-top: 24px;
}

.userform p {
    display: flex;
    justify-content: center;
}

.userform p label {
    margin-right: 20px;
}

/* Base.html styles */

/* Navigation bar */

nav {
    background-color: #293B15;
    color: lightgrey;
}

a.nav-link, a.navbar-brand {
    color: lightgrey;
}

.navbar-nav {
    text-align: right;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}
  
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Main section */

main {
    background: #172408 url("https://res.cloudinary.com/dp1ehadna/image/upload/v1722795158/background_enhwgg.jpg") no-repeat center/cover fixed;
}

/* Footer section */

footer {
    background-color: #293B15;
    color: lightgrey;
}

/* Index.html styling */

img {
    width: 250px;
}

/* Login page styling */

#id_password {
    margin-left: 5px;
}

.formaction {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.formaction a {
    color: lightgrey;
}

/* Register page styling */

#id_username, #id_password1 {
    margin-left: 40px;
}

#id_password1 {
    margin-left: 42px;
    margin-bottom: 20px;
}

/* Profile page styling */

/* Game page styling */

#gamepage {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.gamepanel-class {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

#scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #293B15;
    color: lightgrey;
    margin: 0 0 10px 0;
    padding: 0;
}

#scoreboard p {
    padding: 0 20px;
    margin: 0;
}

.scorepanel-class {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
    margin: 0px;
}

.hide {
    display: none;
}
