{% extends "base.html" %}

{% load static %}

{% block main %}

<div>
    <div id="imgdiv" class="d-flex justify-content-center mt-5">
        <img src="https://res.cloudinary.com/dp1ehadna/image/upload/v1722854489/cards-logo-transparent_lo2o7k.png" alt="Three cards shown overlapping">
    </div>
    <h1 class="blackbox">Match Master</h1>
    <h2 class="blackbox">A Pair Matching Game Designed To Test Memory</h2>
    {% if user.is_authenticated %}
        <p class="redbutton"><a href="{% url 'memorygame' %}">Start Game</a></p>
    {% else %}
        <p class="redbutton"><a href="{% url 'account_login' %}">Start Game</a></p>
    {% endif %}
</div>

{% endblock %}